body {
    background-color: #162521;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
    margin: auto;
}

.panel {
    background-color: #9DD9D2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #79BCB8;
    padding: 10px;
    border-radius: 20px;
    width: max-content;
    margin: 10px;
}

.clave {
    font-size: 20px;
    font-weight: normal;
    border-radius: 10px;
    height: 30px;
    width: 250px;
    background-color: #5EC2B7;
    border: slategrey 1px solid;
    justify-content: center;
    align-items: center;
}

.keyboard {
    display: grid;
    grid-template: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.key{
    font-size: 1.5em;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #2CA6A4;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete {
    font-size: 1.5em;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #F05D5E;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.enter {
    font-size: 1.5em;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #24C98D;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.key:hover {
    background-color: #214F4B;
    transform: scale(1.1)
}

.delete:active {
    background-color: #7B0828;
}
 
.delete:hover {
    background-color: #7B0828;
    transform: scale(1.1)
}

.enter:active {
    background-color: #3E5622;
}

.enter:hover {
    background-color: #3E5622;
    transform: scale(1.1)
}